/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */
  background-color: #cef3f3;
}

h1 {
  font-size: 1.57129444em; /* 28.833px / 18px = 1.57129444em */
  line-height: 1.83333333em; /* 44px / 18 px = 1.83333333em */
  text-align: center;
}

h2 {
  font-size: 1.26561111em; /* 22.781px / 18px = 1.26561111em */
  line-height: 1.66666667em; /* 30px / 18px = 1.66666667em */
  padding-bottom: 0.61111111em; /* 11px / 18px = 0.61111111em */
}

p {
  font-size: 0.777777777777778em; /* 14px / 18px = 0.777777777777778em */
  line-height: 1.1111111111em; /* 20px / 18px = 1.1111111111em */
  padding-bottom: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */;
}

input, label {
  display: block;
  box-sizing: border-box;
}

input {
  padding: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
}

input[type="tel"] {
  margin-bottom: 0.61111111em; /* 11px / 18px = 0.61111111em */
  background-color: rgba(67,176,183,1);
}

input[type="tel"]:focus {
  background-color: rgba(0,255,255,1);
}

input[type="text"] {
  margin-bottom: 0.61111111em; /* 11px / 18px = 0.61111111em */
  background-color: rgba(67,176,183,1);
}

input[type="text"]:focus {
  background-color: rgba(0,255,255,1);
}

input[type="email"] {
  margin-bottom: 0.61111111em; /* 11px / 18px = 0.61111111em */
  background-color: rgba(67,176,183,1);
}

input[type="email"]:focus {
  background-color: rgba(0,255,255,1);
}

input[type="submit"] {
  background-color: rgba(67,176,183,8);
}

input[type="submit"]:disabled {
  background-color: rgba(67,176,183,0.3);
}

.catchline {
  text-align: center;
  font-style: italic;
  padding-bottom: 0.6111111em; /* 11px / 18px = 0.6111111em */
}

/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="27" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(0, 255, 0, 0.8)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}
